<section class="header-sec" style="background-image:url(assets/images/background/home-bg1.jpg); height: 60vh;">
  <div class="page-desc">
    <h1>Jolt sports project</h1>
    <p>Introducing our latest collections, designed specifically for outdoor enthusiasts. Features a range of
      <br> high performance outerwear with a range of bold and vibrant colors and patterns to choose from.</p>
  </div>
  <div class="shop-btn">
    <button>Shop now</button>
  </div>
</section>

<!-- products section -->
<section class="product-sec">
  <div class="row">
    <div class="col-md-3" *ngFor="let product of data ">
      <div class="card" (click)="getProductDetails(product)">
        <img [src]="product.image" class="card-img-top" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text">Price: {{ product.price }}</p>
        </div>
        <div class="card-details" *ngIf="product.showDetails">
          <h5 class="card-title">{{ product.title }}</h5>
          <h5 class="card-title">{{ product.category }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <button class="btn btn-primary">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</section>
